*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*


node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/
public/
# assets/bundle.js
assets/bundle.js.*
# assets/javascripts/bundle.js
assets/javascripts/bundle.js.*
node_modules
