{{ define "main" }}
{{ if eq .Type "archive" }}
<div class="layout--archive js-all">
  <header><h1>Archive</h1></header>
  {{ partial "tags.html" . }}
  <div class="js-result layout--archive__result d-none">
    <div class="article-list items">
      {{- $posts := where .Site.RegularPages "Section" "posts" -}}
      {{- range $posts.GroupByDate "2006" -}}
      <section>
        <h2 class="article-list__group-header">{{ .Key }}</h2>
        <ul class="items">
          {{- range .Pages -}}
          {{- $tagList := delimit .Params.tags "," -}}
          <li class="item" itemscope itemtype="http://schema.org/BlogPosting" data-tags="{{ $tagList }}">
            <div class="item__content">
              <span class="item__meta">{{ .Date.Format "Jan 02" }}</span>
              <a itemprop="headline" class="item__header" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
          </li>
          {{- end -}}
        </ul>
      </section>
      {{- end -}}
    </div>
  </div>
</div>
<script src="{{ "/assets/javascripts/archive-bundle.js" | relURL }}"></script>
{{ else }}
<div class="layout--articles">
  <div class="article-list items items--divided">
    {{- range .Pages -}}
    <article class="item" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="item__content">
        <header><a href="{{ .RelPermalink }}"><h2 itemprop="headline" class="item__header">{{ .Title }}</h2></a></header>
        <div class="item__description">
          <div class="article__content" itemprop="description articleBody">{{ .Summary }}</div>
          <p><a href="{{ .RelPermalink }}">Read more</a></p>
        </div>
      </div>
    </article>
    {{- end -}}
  </div>
</div>
{{ end }}
{{ end }}
