{{ define "main" }}
<div class="layout--articles">
  <div class="article-list items items--divided">
    {{- $paginator := .Paginate (where .Site.RegularPages "Section" "posts") 8 -}}
    {{- range $paginator.Pages -}}
    <article class="item" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="item__content">
        <header><a href="{{ .RelPermalink }}"><h2 itemprop="headline" class="item__header">{{ .Title }}</h2></a></header>
        <div class="item__description">
          {{- with .Params.excerpt -}}
          <div class="article__content" itemprop="description articleBody">{{ . }}</div>
          {{- else -}}
          <div class="article__content" itemprop="description articleBody">{{ .Summary }}</div>
          {{- end -}}
          <p><a href="{{ .RelPermalink }}">Read more</a></p>
        </div>
        <div class="article__info clearfix">
          {{- with .Params.tags -}}
          <ul class="left-col menu">
            {{- range . -}}
            <li>
              <a class="button button--secondary button--pill button--sm" href="{{ printf "/archive?tag=%s" (urlquery .) | relURL }}">{{ . }}</a>
            </li>
            {{- end -}}
          </ul>
          {{- end -}}
          <ul class="right-col menu">
            {{- if not .Date.IsZero -}}
            <li>
              <i class="far fa-calendar-alt"></i> <span>{{ .Date.Format "2006년 01월 02일" }}</span>
            </li>
            {{- end -}}
          </ul>
        </div>
      </div>
    </article>
    {{- end -}}
  </div>
</div>
<div class="layout--home">
  {{ partial "paginator.html" . }}
</div>
{{ end }}
